<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="content" style="display: flex;justify-content: center;">
        <div>
            <h1 style="text-align: center;">Login</h1>
            <label for="">Nome:</label><br>
            <input type="email" name="email" id="email"><br>
            <label for="">Senha:</label><br>
            <input type="password" name="senha" id="senha"><br>
            <br><input type="submit" value="Entrar" style="text-align: center; padding: 5px 10px; background-color: brown;
             color: white; border: none; margin-left: 33%; cursor: pointer;">
        </div>
    </div>

</body>

</html>